@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a petlovers!</h1>
   <p>Somos una entidad sin animo de lucro que busca optimizar y facilitar la adopcion de mascotas en colombia!</p>
   
      <h2>¿quienes somos?</h2>

   <h3>
   ¿porque adoptar?
   </h3>

   <h4>Donaciones y hogar de paso</h4>
</div>
